{{- $return := 0 -}}
{{- $suffixList := slice ".jpeg" ".jpg" ".png" ".gif" ".bmp" ".tif" ".tiff" ".webp" -}}

{{- if not (eq .Optim true) -}}
    {{- $return = dict "S" .Image "M" .Image "L" .Image "Optimized" false -}}
{{- else if or
    (not (eq site.Params.optimizeImages true))
    (not (dict "Path" .Image.RelPermalink "Suffixes" $suffixList | partial "function/suffixValidation.html"))
    -}}
    {{- $return = dict "S" .Image "M" .Image "L" .Image "Optimized" true -}}
{{- else -}}
    {{- $s := .Image.Resize (site.Params.srcsetSmallResizeMethod | default "700x webp Lanczos q60") -}}
    {{- $m := .Image.Resize (site.Params.srcsetDefaultResizeMethod | default "1200x webp Lanczos q60") -}}
    {{- $l := .Image.Resize (site.Params.srcsetLargeResizeMethod | default "2000x webp Lanczos q60") -}}
    {{- $return = dict "S" $s "M" $m "L" $l "Optimized" true -}}
{{- end -}}

{{- return $return -}}
