// Syntax for themes light
@import "syntax-catppuccin-latte";
// Syntax for themes dark
@import "syntax-onedark";
// Syntax for gist dark
@import "syntax-gist-dark";

// Themes is in assets/css/tailwind.css
