{{ $result := transform.HighlightCodeBlock . }}
{{- $id := dict "Scratch" .Page.Scratch | partial "function/id.html" -}}

<style>
    pre>code>span::before {
        counter-increment: codeblock;
        content: counter(codeblock);
        margin: 10px;
    }
</style>
<script>
  async function writeClipboardText(id) {
    const elementId = `codeblock-${id}`;
    try {
      const el = document.getElementById(elementId);
      await navigator.clipboard.writeText(el.innerText);
    } catch (error) {
      console.error(error.message);
    }
  }

  function toggleCodeblockWrap(id) {
    const codeblock = document.getElementById(`codeblock-${id}`);
    const button = document.getElementById(`wrap-code-${id}`);
    codeblock.classList.toggle('tw-text-wrap');
    codeblock.style.maxHeight = codeblock.scrollHeight + 10 + 'px';
  }

  function toggleCodeblock(id) {
    const highlight = document.getElementById(`highlight-${id}`);
    const codeblock = document.getElementById(`codeblock-${id}`);
    codeblock.classList.toggle('!tw-max-h-0');
    highlight.classList.toggle('is-open');
  }
</script>

<div class="highlight is-open tw-group" id="highlight-{{ $id }}">
  <div class="tw-flex tw-flex-row tw-justify-between tw-w-full" >
    <div class="tw-w-full" onclick="toggleCodeblock('{{ $id }}')">
      <p class="tw-select-none">{{ .Type | default "text" }}</p>
    </div>
    <div class="tw-flex">
      <button class="tw-select-none tw-mx-2 tw-hidden group-[.is-open]:tw-block" id="wrap-code-{{ $id }}" onclick="toggleCodeblockWrap('{{ $id }}')">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "bars") }}</button><button class="tw-select-none tw-mx-2 tw-hidden group-[.is-open]:tw-block" id="copy-code-{{ $id }}" onclick="writeClipboardText('{{ $id }}')">{{ partial "plugin/fontawesome.html" (dict "Style" "regular" "Icon" "copy") }}</button><button class="tw-select-none tw-mx-2 tw-block group-[.is-open]:tw-hidden" id="copy-code-{{ $id }}">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "ellipsis-h") }}</button>
    </div>
  </div>
  <pre style="counter-reset: codeblock;" class="tw-block"><code id="codeblock-{{ $id }}" class="!tw-block tw-transition-[max-height] tw-duration-500 tw-ease-in-out">{{ $result.Inner }}</code></pre>
</div>

<script>
  var codeblock = document.getElementById('codeblock-{{ $id }}');
  codeblock.style.maxHeight = codeblock.scrollHeight + 10 + 'px';
</script>