{{- if .Params.outdatedArticleReminder.enable | default .Site.Params.page.outdatedArticleReminder.enable | default false -}}
    {{- $daysAgo := div (sub now.Unix .Lastmod.Unix) 86400 }}
    {{- $reminderThreshold := .Params.outdatedArticleReminder.reminder | default .Site.Params.page.outdatedArticleReminder.reminder | default 90 }}
    {{- $warningThreshold := .Params.outdatedArticleReminder.warning | default .Site.Params.page.outdatedArticleReminder.warning | default 180 }}
    {{- $updateTime := .Lastmod }}
    {{- if .GitInfo }}
        {{- if lt .GitInfo.AuthorDate.Unix .Lastmod.Unix }}
            {{- $updateTime := .GitInfo.AuthorDate }}
        {{- end }}
    {{- end -}}

    {{- if gt $daysAgo $reminderThreshold }}
        {{- $dateFormat := .Site.Params.dateformat | default "2006-01-02" -}}
        {{- $type := cond (gt $daysAgo $warningThreshold) "warning" "note" -}}
        {{- partial "plugin/admonitionPre.html" (dict "Type" $type "Open" true) -}}
            {{- T "outdatedInfoWarningBefore" -}}
            <span class="timeago" datetime="{{ dateFormat "2006-01-02T15:04:05" $updateTime }}" title="{{ dateFormat "January 2, 2006" $updateTime }}">
            {{- dateFormat $dateFormat $updateTime -}}
            </span>
            {{- T "outdatedInfoWarningAfter" -}}
        {{- partial "plugin/admonitionPost.html" -}}
    {{- end -}}
{{- end -}}
