{{- if .Params.outdatedArticleReminder.enable | default .Site.Params.page.outdatedArticleReminder.enable | default false -}}
    {{- $daysAgo := div (sub now.Unix .Lastmod.Unix) 86400 }}
    {{- $reminderThreshold := .Params.outdatedArticleReminder.reminder | default .Site.Params.page.outdatedArticleReminder.reminder | default 90 }}
    {{- $warningThreshold := .Params.outdatedArticleReminder.warning | default .Site.Params.page.outdatedArticleReminder.warning | default 180 }}
    {{- $updateTime := .Lastmod }}
    {{- if .GitInfo }}
        {{- if lt .GitInfo.AuthorDate.Unix .Lastmod.Unix }}
            {{- $updateTime := .GitInfo.AuthorDate }}
        {{- end }}
    {{- end -}}

    {{- if gt $daysAgo $reminderThreshold }}
        {{- $dateFormat := .Site.Params.dateformat | default "2006-01-02" -}}
        {{- if gt $daysAgo $warningThreshold }}
            {{- $type := "warning" -}}
            <div class="details admonition {{ $type }} open">
                <div class="details-summary admonition-title">
                    <span class="icon {{ $type }}">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "exclamation-triangle") }}</span>{{ T $type }}<span class="details-icon">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "angle-right") }}</span>
                </div>
                <div class="details-content">
                    <div class="admonition-content">
                        {{ T "outdatedInfoWarningBefore" -}}
                        <span class="timeago" datetime="{{ dateFormat "2006-01-02T15:04:05" $updateTime }}" title="{{ dateFormat "January 2, 2006" $updateTime }}">
                        {{- dateFormat $dateFormat $updateTime -}}
                        </span>{{ T "outdatedInfoWarningAfter" -}}
                    </div>
                </div>
            </div>
        {{- else }}
            {{- $type := "note" -}}
            <div class="details admonition {{ $type }} open">
                <div class="details-summary admonition-title">
                    <span class="icon {{ $type }}">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "pencil-alt") }}</span>{{ T $type }}<span class="details-icon">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "angle-right") }}</span>
                </div>
                <div class="details-content">
                    <div class="admonition-content">
                        {{ T "outdatedInfoWarningBefore" -}}
                        <span class="timeago" datetime="{{ dateFormat "2006-01-02T15:04:05" $updateTime }}" title="{{ dateFormat "January 2, 2006" $updateTime }}">
                        {{- dateFormat $dateFormat $updateTime -}}
                        </span>{{ T "outdatedInfoWarningAfter" -}}
                    </div>
                </div>
            </div>
        {{- end }}
    {{- end -}}
{{- end -}}
