@use "_variables" as var;

@mixin link($light, $dark) {
  a,
  a::before,
  a::after {
    text-decoration: none;

    color: if($light, var.$global-link-color, var.$single-link-color);
    .dark & {
      color: if($dark, var.$global-link-color, var.$single-link-color);
    }
  }

  a:active,
  a:hover {
    color: if($light, var.$global-link-hover-color, var.$single-link-hover-color);
    .dark & {
      color: if($dark, var.$global-link-hover-color, var.$single-link-hover-color);
    }
  }
}
