@mixin link($light, $dark) {
  a,
  a::before,
  a::after {
    text-decoration: none;

    color: if($light, $global-link-color, $single-link-color);
    .dark & {
      color: if($dark, $global-link-color, $single-link-color);
    }
  }

  a:active,
  a:hover {
    color: if($light, $global-link-hover-color, $single-link-hover-color);
    .dark & {
      color: if($dark, $global-link-hover-color, $single-link-hover-color);
    }
  }
}
