@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply tw-text-3xl tw-font-bold tw-m-8;
  }
  h2 {
    @apply tw-text-2xl tw-font-bold tw-m-6;
  }
  h3 {
    @apply tw-text-xl tw-font-bold tw-m-4;
  }
  ol {
    @apply tw-list-decimal tw-list-outside;
  }
  ul {
    @apply tw-list-disc tw-list-outside;
  }

  /* Themes Example */
  /* :root {
    --color-primary: 247 147 34;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }

  :root[class~="dark"] {
    --color-primary: 247 147 34;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  } */

  /* Themes TODO  */
  /* Theme Light */
  :root {
    /* ========== Global ========== */
    /* Color of the background */
    --global-background-color: #fff;
    /* Color of the text */
    --global-font-color: #161209;
    /* Color of the secondary text */
    --global-font-secondary-color: #4d4d4d;
    /* Color of the link */
    --global-link-color: #161209;
    /* Color of the hover link */
    --global-link-hover-color: #2d809a;
    /* Color of the border */
    --global-border-color: #f0f0f0;
    /* ========== Global ========== */

    /* ========== Selection ========== */
    /* Color of the selected text */
    --selection-color: rgba(53, 166, 247, 0.25);
    /* ========== Selection ========== */

    /* ========== Header ========== */
    /* Color of the header background */
    --header-background-color: #f8f8f8;
    /* Color of the hover header item */
    --header-hover-color: #161209;
    --header-delimiter: unset;
    /* Color of the search background */
    --search-background-color: #e9e9e9;
    --search-empty-font-color: unset;
    /* ========== Header ========== */

    /* ========== Single Content ========== */
    /* Font weight of the single H2 - H6 */
    --single-h-font-weight: bold;
    /* Color of the single content strong/b */
    --single-content-strong-color: unset;
    /* Color of the single link */
    --single-link-color: #2d809a;
    /* Color of the hover single link */
    --single-link-hover-color: #ef3982;
    /* Color of the table background */
    --table-background-color: #fff;
    /* Color of the table thead */
    --table-thead-color: #ededed;
    --table-thead-color-darken: darken(#ededed, 2%);
    /* Color of the blockquote */
    --blockquote-color: #6bd6fd;
    --blockquote-bg-color: rgba(107, 214, 253, 0.2);
    /* ========== Single Content ========== */

    /* ========== Pagination ========== */
    /* Color of the link in pagination */
    --pagination-link-color: #2d809a; 
    /* Color of the hover link in pagination */
    --pagination-link-hover-color: #000;
    /* ========== Pagination ========== */

    /* ========== Friend Link ========== */
    /* Color of friend link background */
    --friend-link-background-color: #f8f8f8;
    /* Color of friend link text */
    --friend-link-color: #2d809a;
    /* Color of hover friend link text */
    --friend-link-hover-color: #ef3982;
    /* ========== Friend Link ========== */

    /* ========== Sponsor Button ========== */
    /* Sponsor button background color */
    --sponsor-button-background-color: #f0f0f0;
    /* Sponsor button background color while in the :hover state */
    --sponsor-button-hover-background-color: #f0f0f0;
    /* ========== Sponsor Button ========== */

    /* ========== Code ========== */
    /* Color of the code */
    --code-color: #e74c3c;
    /* Color of the code background */
    --code-background-color: #f5f5f5;

    --code-background-color-darken-3: #ededed;
    --code-background-color-darken-5: #e8e8e8;
    --code-background-color-darken-6: #e6e6e6;
    --code-background-color-darken-8: #e1e1e1;
    --code-background-color-darken-10: gainsboro;
    --code-background-color-code-header: var(--code-background-color-darken-8);
    --code-background-color-code-hl: gainsboro;
    --code-info-color: #9c9c9c;
    /* ========== Code ========== */

    /* ========== Cookie Consent ========== */
    --cookie-background-color: #ccc;
    /* ========== Cookie Consent ========== */
    /* ========== related ========== */
    --related-background-color: #f8f8f8;
    --related-color: black;
    --related-hover-color: #ef3982;
    /* ========== related ========== */

    /* ========== showcase ========== */
    --showcase-background-color: #f8f8f8;
    --showcase-color: black;
    --showcase-hover-color: #ef3982;
    /* ========== showcase ========== */
  }
  /* Theme dark */
  html.dark {
    --global-background-color: #0d1117;
    --global-font-color: #e6edf3;
    --global-font-secondary-color: #848d97;
    --global-link-color: #e6edf3;
    --global-link-hover-color: #ffffff;
    --global-border-color: #30363d;
    --selection-color: #1f6febb3;
    --header-background-color: #161b22;
    --header-hover-color: #ffffff;
    --header-delimiter: #848d97;
    --search-background-color: #363636; /* TODO */
    --search-empty-font-color: #ddd; /* TODO */
    --single-h-font-weight: bolder; /* TODO */
    --single-content-strong-color: #ddd; /* TODO */
    --single-link-color: #55bde2; /* TODO */
    --single-link-hover-color: #bdebfc; /* TODO */
    --table-background-color: #272c34; /* TODO */
    --table-thead-color: #20252b; /* TODO */
    --blockquote-color: #59c5ec; /* TODO */
    --blockquote-bg-color: rgba(89, 197, 236, 0.2); /* TODO */
    --pagination-link-color: #a9a9b3; /* TODO */
    --pagination-link-hover-color: #fff; /* TODO */
    --friend-link-background-color: #252627; /* TODO */
    --friend-link-color: #a9a9b3; /* TODO */
    --friend-link-hover-color: #ffffff; /* TODO */
    --sponsor-button-background-color: #363636; /* TODO */
    --sponsor-button-hover-background-color: #363636; /* TODO */
    --cookie-background-color: #fff; /* TODO */
    --code-color: #e5bf78; /* TODO */
    --code-background-color: #272c34; /* TODO */
    --code-background-color-darken-3: #20252b; /* TODO */
    --code-background-color-darken-5: #1c2025; /* TODO */
    --code-background-color-darken-6: #1a1d23; /* TODO */
    --code-background-color-darken-8: #16181d; /* TODO */
    --code-background-color-darken-10: #111317; /* TODO */
    --code-background-color-code-header: var(--code-background-color-darken-6); /* TODO */
    --code-background-color-code-hl: #1c2025; /* TODO */
    --code-info-color: #b1b0b0; /* TODO */
    --related-background-color: #252627; /* TODO */
    --related-color: #a9a9b3; /* TODO */
    --related-hover-color: #ffffff; /* TODO */
    --showcase-background-color: #252627; /* TODO */
    --showcase-color: #a9a9b3; /* TODO */
    --showcase-hover-color: #ffffff;
  }

  /* Theme Black */
  html.black  {
    --global-background-color: #000000;
    --global-font-color: #d9d9d9;
    --global-font-secondary-color: #a9a9b3;
    --global-link-color: #d9d9d9;
    --global-link-hover-color: #fff;
    --global-border-color: #363636;
    --selection-color: rgba(50, 112, 194, 0.4);
    --header-background-color: #000000;
    --header-hover-color: #fff;
    --header-delimiter: #363636;
    --search-background-color: #363636;
    --search-empty-font-color: #ddd;
    --single-h-font-weight: bolder;
    --single-content-strong-color: #ddd;
    --single-link-color: #55bde2;
    --single-link-hover-color: #bdebfc;
    --table-background-color: #272c34;
    --table-thead-color: #20252b;
    --blockquote-color: #59c5ec;
    --blockquote-bg-color: rgba(89, 197, 236, 0.2);
    --pagination-link-color: #a9a9b3;
    --pagination-link-hover-color: #fff;
    --friend-link-background-color: #111111;
    --friend-link-color: #d9d9d9;
    --friend-link-hover-color: #ffffff;
    --sponsor-button-background-color: #363636;
    --sponsor-button-hover-background-color: #363636;
    --cookie-background-color: #fff;
    --code-color: #e5bf78;
    --code-background-color: #272c34;
    --code-background-color-darken-3: #20252b;
    --code-background-color-darken-5: #1c2025;
    --code-background-color-darken-6: #1a1d23;
    --code-background-color-darken-8: #16181d;
    --code-background-color-darken-10: #111317;
    --code-background-color-code-header: var(--code-background-color-darken-6);
    --code-background-color-code-hl: #1c2025;
    --code-info-color: #b1b0b0;
    --related-background-color: #111111;
    --related-color: #d9d9d9;
    --related-hover-color: #ffffff;
    --showcase-background-color: #111111;
    --showcase-color: #d9d9d9;
    --showcase-hover-color: #ffffff;
  }
}
