@use "_variables" as var;
@use "_mixin/_compatibility" as compat;

.details {
  .details-summary {
    &:hover {
      cursor: pointer;
    }
  }

  .details-icon > svg {
    color: var.$global-font-secondary-color;
    @include compat.transition(transform 0.2s ease);
  }

  .details-content {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease-out;
  }

  &.open {
    .details-icon > svg {
      @include compat.transform(rotate(90deg));
    }

    .details-content {
      max-height: none;
    }
  }
}
