#fixed-buttons {
  display: none;
}

.fixed-button {
  display: none;
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: .6rem .6rem;
  color: $global-font-secondary-color;
  background: $global-border-color;
  @include border-radius(2rem);
  @include transition(color 0.4s ease);

  @include blur;

  &:hover, &:active {
    color: $global-font-color;
    cursor: pointer;
  }

  &:active, &:focus, &:hover {
    outline: none;
  }

  [theme=dark] & {
    color: $global-font-secondary-color-dark;
    background: $header-background-color-dark;

    &:hover, &:active {
      color: $global-font-color-dark;
    }
  }
  [theme=black] & {
    color: $global-font-secondary-color-black;
    background: $header-background-color-black;

    &:hover, &:active {
      color: $global-font-color-black;
    }
  }
}

#back-to-top-button {
  display: block;
  bottom: 4.5rem;
}

#view-comments {
  bottom: 1.5rem;
}
