.page {
  position: relative;
  max-width: 800px;
  width: 60%;
  margin: 0 auto;

  [header-desktop] & {
    padding-top: $header-height;
  }

  [header-desktop=normal] & {
    padding-top: 0;
  }

  @include blur;
}

.headerLink {
  scroll-margin-top: 3.5rem;
}

@import "_single";
@import "_special";
@import "_archive";
@import "_home";
@import "_404";
