@use "_mixin/blur";
@use "_variables" as var;

@use "_single";
@use "_special";
@use "_archive";
@use "_home";
@use "_taxonomy";

.page {
  position: relative;
  max-width: 800px;
  width: 60%;
  margin: 0 auto;
  padding-top: var.$header-height;

  @include blur.blur;
}
