@import "../_partial/_single/series";
@import "../_partial/_single/toc";

.single {
  .single-title {
    margin: 1rem 0 .5rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 140%;
  }

  .single-subtitle {
    margin: .4rem 0;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: italic;
    line-height: 100%;
  }

  .post-meta {
    font-size: .875rem;
    color: $global-font-secondary-color;

    span {
      display: inline-block;
    }

    [theme=dark] & {
      color: $global-font-secondary-color-dark;
    }

    [theme=black] & {
      color: $global-font-secondary-color-black;
    }

    @include link(false, true);

    .author {
      font-size: 1.05rem;
    }
  }

  .featured-image {
    margin: .5rem 0 1rem 0;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
    }

  }

  .content {
    >h2 {
      font-size: 1.5rem;

      & code {
        font-size: 1.25rem;
      }
    }

    >h3 {
      font-size: 1.375rem;

      & code {
        font-size: 1.125rem;
      }
    }

    >h4 {
      font-size: 1.25rem;

      & code {
        font-size: 1rem;
      }
    }

    >h5 {
      font-size: 1.125rem;
    }

    >h6 {
      font-size: 1rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      margin: 1.2rem 0;

      [theme=dark] & {
        font-weight: bolder;
      }

      [theme=black] & {
        font-weight: bolder;
      }
    }

    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
      >.header-mark::before {
        content: "|";
        margin-right: .3125rem;
        color: $single-link-color;

        [theme=dark] & {
          color: $single-link-color-dark;
        }

        [theme=black] & {
          color: $single-link-color-black;
        }
      }
    }

    >h2>.header-mark::before {
      content: "|";
    }

    p {
      margin: .5rem 0;
    }

    b,
    strong {
      font-weight: bold;

      [theme=dark] & {
        color: #ddd;
      }

      [theme=black] & {
        color: #ddd;
      }
    }

    @include link(false, false);

    a {
      @include overflow-wrap(break-word);

      [theme=dark] & b,
      [theme=dark] & strong {
        color: $single-link-color-dark;
      }

      [theme=black] & b,
      [theme=black] & strong {
        color: $single-link-color-black;
      }
    }

    [theme=dark] a:hover b,
    [theme=dark] a:hover strong {
      color: $single-link-hover-color-dark;
    }

    [theme=black] a:hover b,
    [theme=black] a:hover strong {
      color: $single-link-hover-color-black;
    }

    ul,
    ol {
      margin: .5rem 0;
      padding-left: 2.5rem;
    }

    ul {
      list-style-type: disc;
    }

    ruby {
      background: $code-background-color;

      rt {
        color: $global-font-secondary-color;
      }

      [theme=dark] & {
        background: $code-background-color-dark;

        rt {
          color: $global-font-secondary-color-dark;
        }
      }

      [theme=black] & {
        background: $code-background-color-black;

        rt {
          color: $global-font-secondary-color-black;
        }
      }
    }

    .table-wrapper {
      overflow-x: auto;

      @if $custom-scrollbar {
        &::-webkit-scrollbar {
          background-color: $table-background-color;

          [theme=dark] & {
            background-color: $table-background-color-dark;
          }

          [theme=black] & {
            background-color: $table-background-color-black;
          }
        }

        ::-webkit-scrollbar-corner {
          background-color: $table-background-color;

          [theme=dark] & {
            background-color: $table-background-color-dark;
          }

          [theme=black] & {
            background-color: $table-background-color-black;
          }
        }
      }

      >table {
        width: 100%;
        max-width: 100%;
        margin: .625rem 0;
        border-spacing: 0;
        background: $table-background-color;
        border-collapse: collapse;

        [theme=dark] & {
          background: $table-background-color-dark;
        }

        [theme=black] & {
          background: $table-background-color-dark;
        }

        thead {
          background: $table-thead-color;

          [theme=dark] & {
            background-color: $table-thead-color-dark;
          }

          [theme=black] & {
            background-color: $table-thead-color-black;
          }
        }

        td:nth-child(2).lntd {
          max-width: 0;
          overflow: auto;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        th,
        td {
          padding: .3rem 1rem;
          border: 1px solid darken($table-thead-color, 2%);

          [theme=dark] & {
            border-color: darken($table-thead-color-dark, 2%);
          }

          [theme=black] & {
            border-color: darken($table-thead-color-black, 2%);
          }
        }

        th[role=columnheader]:not(.no-sort) {
          cursor: pointer;
        }

        th[role=columnheader]:not(.no-sort):after {
          content: '';
          float: right;
          margin: .7rem -.5rem 0px .5rem;
          border-width: 0 4px 4px;
          border-style: solid;
          border-color: $global-font-color transparent;

          [theme=dark] & {
            border-color: $global-font-color-dark transparent;
          }

          [theme=black] & {
            border-color: $global-font-color-black transparent;
          }

          visibility: hidden;
          opacity: 0;
          -ms-user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }

        th[aria-sort=ascending]:not(.no-sort):after {
          border-bottom: none;
          border-width: 4px 4px 0;
        }

        th[aria-sort]:not(.no-sort):after {
          visibility: visible;
          opacity: 0.4;
        }

        th[role=columnheader]:not(.no-sort):hover:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    img {
      max-width: 100%;
      min-height: 1em;
    }

    figure {
      margin: .5rem;
      text-align: center;

      .image-caption:not(:empty) {
        min-width: 20%;
        max-width: 80%;
        display: inline-block;
        padding: .5rem;
        margin: 0 auto;
        font-size: .875rem;
        color: #969696;
      }

      img {
        display: block;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
      }
    }

    blockquote {
      display: block;
      border-left: .5rem solid $blockquote-color;
      background-color: rgba($blockquote-color, .2);
      padding: .25rem .75rem;
      margin: 1rem 0;

      [theme=dark] & {
        border-left-color: $blockquote-color-dark;
        background-color: rgba($blockquote-color-dark, .2);
      }

      [theme=black] & {
        border-left-color: $blockquote-color-black;
        background-color: rgba($blockquote-color-black, .2);
      }
    }

    .footnotes {
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }

      [theme=black] & {
        color: $global-font-secondary-color-black;
      }

      p {
        margin: .25rem 0;
      }

      li {
        scroll-margin-top: 3.5rem;
      }
    }

    .headerLink {
      scroll-margin-top: 3.5rem;
    }

    sup {
      scroll-margin-top: 3.5rem;
    }

    @import "../_partial/_single/code";
    @import "../_partial/_single/katex";
    @import "../_partial/_single/admonition";
    @import "../_partial/_single/echarts";
    @import "../_partial/_single/mapbox";
    @import "../_partial/_single/music";
    @import "../_partial/_single/bilibili";
    @import "../_partial/_single/friend";
    @import "../_partial/_single/showcase";
    @import "../_partial/_single/mermaid";

    hr {
      margin: 2rem 0;
      position: relative;
      border-top: 3px dashed $global-border-color;
      border-bottom: none;

      [theme=dark] & {
        border-top: 3px dashed $global-border-color-dark;
      }

      [theme=black] & {
        border-top: 3px dashed $global-border-color-black;
      }
    }

    kbd {
      display: inline-block;
      padding: .25rem;
      background-color: $global-background-color;
      border: 1px solid $global-border-color;
      border-bottom-color: $global-border-color;
      @include border-radius(3px);
      @include box-shadow(inset 0 -1px 0 $global-border-color);
      font-size: .8rem;
      font-family: $code-font-family;
      color: $code-color;

      [theme=dark] & {
        background-color: $global-background-color-dark;
        border: 1px solid $global-border-color-dark;
        border-bottom-color: $global-border-color-dark;
        @include box-shadow(inset 0 -1px 0 $global-border-color-dark);
        color: $code-color-dark;
      }

      [theme=black] & {
        background-color: $global-background-color-black;
        border: 1px solid $global-border-color-black;
        border-bottom-color: $global-border-color-black;
        @include box-shadow(inset 0 -1px 0 $global-border-color-black);
        color: $code-color-black;
      }
    }

    .typeit {
      .code {
        padding: .375rem;
        font-size: .875rem;
        font-family: $code-font-family;
        font-weight: bold;
        word-break: break-all;
      }
    }

    .version {
      height: 1.25em;
      vertical-align: text-bottom;
    }
  }

  @import "../_partial/_single/footer";
  @import "../_partial/_single/comment";
  @import "../_partial/_single/sponsor";
  @import "../_partial/_single/related";
}

.lg-toolbar .lg-icon::after {
  color: #999;
}

#TableOfContents {
  max-height: 75vh;
  overflow: auto;
}