{{- $title := "" -}}
{{- $link := ""  -}}
{{- $avatar := "" -}}
{{- $bio := "" -}}
{{- if .IsNamedParams -}}
    {{- $avatar = .Get "avatar" -}}
    {{- $link = .Get "url"  -}}
    {{- $title = .Get "name" -}}
    {{- $bio = .Get "bio" -}}
{{- else -}}
    {{- $title = .Get 0 -}}
    {{- $link = .Get 1 -}}
    {{- $avatar = .Get 2 -}}
    {{- $bio = .Get 3 -}}
{{- end -}}
<a target="_blank" href="{{- $link -}}" title="{{- $title -}}" class="friend-link" rel="noopener noreferrer">
    <div class="friend-link-div">
        <div class="friend-link-avatar">
            {{- dict "Src" $avatar | partial "plugin/image.html" -}}
        </div>
        <div class="friend-link-info">
            <div class="friend-name-div">
                {{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "user-circle") }}
                <i class="friend-name">{{- $title -}}</i>
            </div>
            <p class="friend-bio">{{- $bio -}}</p>
        </div>
    </div>
</a>