{{- $articleLink := .Context.RelPermalink -}}
{{- $articleLinkTarget := "_self" -}}
{{- if isset .Context.Params "external" -}} 
    {{- $articleLink = .Context.Params.external -}}
    {{- $articleLinkTarget = "_blank" -}}
{{- end -}}

{{- if isset . "isImage" -}}
    <a href="{{ $articleLink }}" target="{{ $articleLinkTarget }}" aria-label={{ .Context.Title }}>
        {{ .Content }}
    </a>
{{- else -}}
    <a href="{{ $articleLink }}" target="{{ $articleLinkTarget }}">
        {{ .Content }}
    </a>
{{- end -}}
