{{- $params := .Scratch.Get "params" -}}

{{ $related := first 4 (where (where $.Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
{{ with $related }}

<h2>{{- T "relatedContent" -}}</h2>
<div class="related-container">
    {{ range . }}
        {{- $params := .Params | merge .Site.Params.page -}}
        <div class="related-item-container">
            {{ $pageRelPermalink := .RelPermalink}}
            {{- $title := .Title -}}
            {{- $resource := .Resources -}}
            {{- $image := $params.featuredImagePreview | default $params.featuredImage -}}
            {{- if not $image -}}
                {{- with .Resources.GetMatch "{featured-image, featured-image-preview}" -}}
                    {{- $image = strings.TrimPrefix $pageRelPermalink .RelPermalink -}}
                {{- end -}}
            {{- end -}}
            <a href="{{ $pageRelPermalink }}">
                {{- with $image -}}
                <div class="related-image">
                        {{- $optimize := slice 
                            (dict "Process" "resize 800x webp q75" "descriptor" "800w")
                            (dict "Process" "resize 1200x webp q75" "descriptor" "1200w")
                            (dict "Process" "resize 1600x webp q75" "descriptor" "1600w") 
                        -}}
                        {{- dict "Src" $image "Resources" $resource "OptimConfig" $optimize "Title" $title | partial "plugin/image.html" -}}
                </div>
                {{- end -}}
                <h2 class="related-title">
                    {{ .Title }}
                </h2>
            </a>
        </div>
    {{ end }}

</div>
{{ end }}
