{{ if .IsNamedParams }}
{{- $avatar := .Get "avatar" -}}
<a target="_blank" href={{ .Get "url" }} title={{ .Get "name" }} class="friend-link">
    <div class="friend-link-div">
        <div class="friend-link-avatar">
            {{- dict "Src" $avatar | partial "plugin/image.html" -}}
        </div>
        <div class="friend-link-info">
            <div class="friend-name-div">
                <i class="fas fa-user-circle fa-fw"></i>
                <i class="friend-name">{{ .Get "name" }}</i>
            </div>
            <p class="friend-bio">{{ .Get "bio" }}</p>
        </div>
    </div>
</a>
{{- else -}}
{{- $avatar := .Get 2 -}}
<a target="_blank" href={{ .Get 1 }} title={{ .Get 0 }} class="friend-link">
    <div class="friend-link-div">
        <div class="friend-link-avatar">
            {{- dict "Src" $avatar | partial "plugin/image.html" -}}
        </div>
        <div class="friend-link-info">
            <div class="friend-name-div">
                <i class="fas fa-user-circle fa-fw"></i>
                <i class="friend-name">{{ .Get 0 }}</i>
            </div>
            <p class="friend-bio">{{ .Get 3 }}</p>
        </div>
    </div>
</a>
{{ end }}