{{ if (not .IsNamedParams) }}
    {{- errorf "Only named params is supported: %s" .Position -}}
{{ end }}
{{ $title := .Get "title" }}
{{ $id := dict "Content" "tab" "Scratch" .Page.Scratch | partial "function/id.html" }}
{{ .Parent.Scratch.Add "tabs" (slice (dict "title" $title "id" $id)) }}
<div 
    role="tabpanel" 
    aria-labelledby="tab-{{ $id }}"
    class=" tw-border-2 tw-rounded-t-none tw-rounded tw-p-4 tw-border-red-500 ">
    {{ if .Get "markdown" }}
        {{ .Inner | markdownify }}
    {{ else }}
        {{ .Inner }}
    {{ end }}
</div>
