name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        hugo_version: ["latest"]
    steps:
      - uses: actions/checkout@v5

      - name: Hugo setup
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ matrix.hugo_version }}
          extended: true

      - uses: actions/setup-node@v6
        with:
          node-version: "16"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
