name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        hugo_version: ["latest"]
    steps:
      - uses: actions/checkout@v3

      - name: Hugo setup
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: ${{ matrix.hugo_version }}
          extended: true

      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: hugo -v --source=exampleSite --themesDir ../.. --gc
