name: Update Dependencies

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - uses: Hugo-DoIt/update-dependencies@v0.3.1
        with:
          reviewers: |
            HEIGE-PCloud
