name: Update Algolia Search Index

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Build
        run: |
          npm install
          npm run build

      - name: Update Algolia Index (en)
        env:
          ALGOLIA_APP_ID: 5YGRNRQK1G
          ALGOLIA_ADMIN_KEY: ${{ secrets.ALGOLIA_ADMIN_KEY }}
          ALGOLIA_INDEX_NAME: "en_index"
          ALGOLIA_INDEX_FILE: "./exampleSite/public/index.json"
        run: |
          npm run algolia

      - name: Update Algolia Index (zh_cn)
        env:
          ALGOLIA_APP_ID: 5YGRNRQK1G
          ALGOLIA_ADMIN_KEY: ${{ secrets.ALGOLIA_ADMIN_KEY }}
          ALGOLIA_INDEX_NAME: "zh_cn_index"
          ALGOLIA_INDEX_FILE: "./exampleSite/public/zh-cn/index.json"
        run: |
          npm run algolia
